/* COMEINZA CODIGO DE UNA PRACTICA */
body {
    background: #ddd;
}

.container {
    background: lightsalmon;
    border: 3px solid black;
    border-radius: 10px;
    display: grid;
    grid-auto-rows: 50px;
    grid-template-columns: 50px 50px 50px;
    gap: 4px;
    height: 300px;
    width: 300px;
    /* justify-content: center;
    align-content: center; */
    place-content: center;
}

.container div {
    background: lightblue;
    border: 2px solid #09f;
    border-radius: 6px;
}

.container div:first-child {
    background: lightgreen;
    border: 2px solid green;
    z-index: 9999;
}

.container div:nth-child(2) {
    background: lightseagreen;
    border: 2px solid blue;
}

/* COMEINZA CODIGO DE UNA PRACTICA */
/* div {
    margin-top: 10%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 16px;
}

img {
    border-radius: 8px;
    width: 100%;
    height: auto;
} */

/* COMEINZA CODIGO DE UNA PRACTICA */
/* .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 35px 1fr 100px;
    min-height: 100vh;
    grid-template-areas:
        'header header sidebar'
        'content content content'
        'footer footer footer';
}

@media (width > 400px) {
    .container {
        grid-template-areas:
            'header header .'
            'sidebar content content'
            'footer footer footer';
    }
}

.container header {
    background: #09f;
    grid-area: header;
}
.container aside {
    background: yellow;
    grid-area: sidebar;
}
.container main {
    background: red;
    grid-area: content;
}

.container footer {
    background: gray;
    grid-area: footer;
}

body {
    margin: 0;
} */
