/* Codigo de 1ra practica transiciones */
/* .pulser {
    width: 30px;
    height: 30px;
    background: #09f;
    border-radius: 50%;
    position: relative;
    transition-duration: 2s;
    transition-timing-function: ease;
    opacity: 0;
}

section {
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
}

section:hover .pulser {
    opacity: 1;
}

body {
    display: grid;
    place-content: center;
    background: #ddd;
    min-height: 50vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
        'Helvetica Neue' sans-serif;
    font-size: 12px;
}

.pulser:first-child {
    transition-delay: 0s;
}
.pulser:nth-child(2) {
    transition-delay: 300ms;
}
.pulser:nth-child(3) {
    transition-delay: 600ms;
} */

/* Codigo de 2da practica transiciones */
/* .pulser {
    width: 50px;
    height: 50px;
    background: #09f;
    border-radius: 50%;
    position: relative;
    transition: all 300ms ease-in-out;
}

.pulser:hover {
    scale: 2;
    background: red;
    box-shadow: 0 0 10px red;
    transition-duration: 500ms;
}

@media (prefers-reduced-motion: no-preference) {
    .pulser {
        transition: none;
    }
}

body {
    display: grid;
    place-content: center;
    min-height: 50vh;
    background: #ddd;
} */

/* Codigo de 3ra practica animaciones */
/* .pulser {
    width: 50px;
    height: 50px;
    background: #09f;
    border-radius: 50%;
    position: relative;
    animation-name: move;
    animation-duration: 3s;
}

.pulser::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #09f;
    border-radius: 50%;
    z-index: -1;
    
    animation-name: pulse;
    animation-duration: 2s;
    animation-delay: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes pulse {
    0% {
        opacity: 0;
    }
    
    50% {
        scale: 1.4;
        opacity: 0.4;
    }
    
    100% {
        opacity: 0.6;
    }
}

@keyframes move {
    from {
        transform: translateY(0px);
    }
    
    to {
        transform: translateY(100px);
    }
}
body {
    display: grid;
    place-content: center;
    min-height: 50vh;
    background: #ddd;
} */

/* Codigo de 4ta practica animaciones */
/* img {
    width: 80px;
    animation: mover 2s steps(10) both, agrandar 1s linear 2s both;
}

img:hover {
    animation-play-state: paused;
    opacity: 0.7;
    filter: contrast(150%);
    cursor: progress;
}

@keyframes agrandar {
    0% {
        scale: 1;
    }
    25% {
        scale: 1.4;
    }
    75% {
        scale: 1.6;
    }
    100% {
        scale: 2;
    }
}

@keyframes mover {
    from {
        opacity: 0.4;
        transform: translateX(0);
    }
    to {
        opacity: 1;
        transform: translateX(200px);
    }
}

body {
    padding-top: 100px;
} */

/* Codigo de 5ta practica animaciones scroll */
/* body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
        sans-serif;
    margin: 0;
}

main {
    padding: 32px;
}

#progress {
    position: fixed;
    top: 0;
    width: 0%;
    background: red;
    height: 1em;

    animation: progress-grow auto linear;
    animation-timeline: scroll(root block);
}

@keyframes progress-grow {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
} */

/* Codigo de 6ta practica animaciones */
body {
    background-color: black;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
        sans-serif;
    padding-bottom: 100px;
}

section {
    columns: 2;
    padding: 16px 32px;
    column-gap: 32px;
}

section img {
    border-radius: 4px;
    width: 100%;
    height: auto;
    margin-bottom: 32px;

    animation: reveal linear both;
    animation-timeline: view();
    animation-range: entry 20% cover 50%;
}

h1 {
    color: white;
    text-align: center;
    padding: 16px;
    margin: 0;
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;

    animation: enhance-header linear both;
    animation-timeline: scroll(root block);
    animation-range: 0 200px;
    z-index: 1;
}

@keyframes reveal {
    from {
        opacity: 0;
        translate: 0 100px;
        scale: 0.5;
    }
    to {
        opacity: 1;
        translate: 0 0;
        scale: 1;
    }
}

@keyframes enhance-header {
    to {
        background: rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(5px);
        font-size: 18px;
        color: black;
    }
}
